@import 'fonts';
@import 'variables';
@import 'libs/normalize';
@import 'components/all';

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;

  &__title {
    margin: 35px 0;
  }

  &__items-cart {
    display: flex;
    flex-wrap: wrap;
  }

  &__items {
    display: grid;
    grid-template: repeat(auto-fit, 500px) / repeat(auto-fill, 300px);
    justify-content: space-around;
    justify-items: center;
  }

  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
  }
}

.invisible {
  display: none;
}

@media screen and (min-device-width: 320px) and (max-device-width: 1200px) {
  .wrapper {
    width: calc(100vw - 30px);
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 630px) {
  .wrapper {
    width: calc(100vw - 10px);
  }

  .content {
    &__title {
      position: relative;
      margin: 35px 0;
      text-align: center;
    }
  }
}